<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RednitDev</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/setting.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/chooseTag.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RednitDev.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div class="navGroup">
                <div class="leftSide">
                    <img src="~/svg/firewhite.svg" alt="Logo" height="35px">
                    <a class="discovery" asp-area="" asp-controller="Home" asp-action="Index">
                        <h1 style="font-weight: 900;">Rednit</h1>
                    </a>
                </div>
                <div class="rightSide">
                    <a class="discovery" id="discovery" asp-area="" asp-controller="Discover" asp-action="Index">Discovery</a>

                    <a class="login" asp-area="" asp-controller="Access" asp-action="LogIn">Log in</a>

                    <a class="create-post" asp-area="" asp-controller="Discover" asp-action="CreatePost">Create post</a>
                    <a class="profile-pic"><img
                            src="~/svg/ProfilePic.svg" alt="profile pic"></a>

                    <div class="dropdown-hover-area">
                        <ul class="dropdown-box">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Profile"
                                    asp-action="MyProfile">Profile</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Noti"
                                    asp-action="Index">Notification</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Fav"
                                    asp-action="Index">Favorite</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Home"
                                    asp-action="Setting">Setting</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Access" asp-action="Logout">
                                    <p>Logout</p></b>
                                </a></li>
                        </ul>
                    </div>

                    @* for debugging *@
                    @*<a class="logout" asp-area="" asp-controller="Access" asp-action="LogOut">Log out</a> *@

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2567 - MvcMovie - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var navGroup = document.getElementsByClassName("navGroup")[0];
        var loginLink = document.getElementsByClassName("login")[0];
        var CreatePostLink = document.getElementsByClassName("create-post")[0];
        var ProfileLink = document.getElementsByClassName("profile-pic")[0];
        console.log("<Home Page> state: '@ViewBag.state'")
        if ('@ViewBag.state' === 'True') {
            navGroup.classList.add("isLogin");
            loginLink.style.display = "none";
            CreatePostLink.style.display = "flex";
            ProfileLink.style.display = "flex";
        }
        else {
            navGroup.classList.remove("isLogin");
            loginLink.style.display = "flex";
            CreatePostLink.style.display = "none";
            ProfileLink.style.display = "none";
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
