<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RednitDev</title>
    <link rel="stylesheet" href="~/css/layout/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/page/home-index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/component/hotPostCard.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/page/discover-createpost.css"> *@

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="bg-container">
        <div class="background">
        </div>
        <div class="wave-container">
            <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
        </div>
    </div>

    <div class="big-container">

        @* header *@
        <nav>
            <div class="navGroup">
                <div class="leftSide">
                    <img src="~/svg/firewhite.svg" alt="Logo" height="35px">
                    <a class="discovery" asp-area="" asp-controller="Home" asp-action="Index">
                        <h1>Rednit</h1>
                    </a>
                </div>
                <div class="rightSide">
                    <a class="discovery" id="discovery" asp-area="" asp-controller="Discover" asp-action="Index">Discovery</a>

                    <a class="login" asp-area="" asp-controller="Access" asp-action="LogIn">Log in</a>

                    <a class="create-post" asp-area="" asp-controller="Discover" asp-action="CreatePost">Create post</a>
                    <a class="profile-pic"><img
                            src="~/svg/ProfilePic.svg" alt="profile pic"></a>

                    <div class="dropdown-hover-area">
                        <ul class="dropdown-box">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Profile"
                                    asp-action="MyProfile">Profile</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Noti"
                                    asp-action="Index">Notification</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Fav"
                                    asp-action="Index">Favorite</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Home"
                                    asp-action="Setting">Setting</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Access" asp-action="Logout">
                                    <p>Logout</p></b>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        @* body *@
        <div class="context">
            <main>
                @RenderBody()
            </main>
        </div>

        @* footer *@
        <footer class="footer">
            <div class="footer-container">
                @* logo *@
                <div class="logo">
                    <img src="~/svg/firewhite.svg" alt="fire_svg" height="40%" style="margin:0px 0px 5px 10px;" />
                    <h1>Rednit</h1>
                </div>

                @* follow us *@
                <div class="follow">
                    <h2>Follow us</h2>
                    <div class="footer-logos-container">
                        <img src="~/svg/instagramwhite.svg" alt="instagramwhite_svg" width="80%" />
                        <img src="~/svg/facebookwhite.svg" alt="facebookwhite_svg" width="80%" />
                        <img src="~/svg/githubwhite.svg" alt="githubwhite_svg" width="80%" />
                        <img src="~/svg/youtubewhite.svg" alt="youtubewhite_svg" width="80%" />
                    </div>
                </div>

                @* contact *@
                <div class="contact">
                    <h2>Contact us</h2>
                    <div class="element-container">
                        <div class="element">
                            <img src="~/svg/callwhite.svg" alt="callwhite_svg" height="90%" style="margin-right:5px;" />
                            <p>090-000-0000</p>
                        </div>
                        <div class="element">
                            <img src="~/svg/mailwhite.svg" alt="mailwhite_svg" height="75%" style="margin-right:5px;" />
                            <p>RednitGroup@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/layout/home.js" asp-append-version="true"></script>
    <script>
        var navGroup = document.getElementsByClassName("navGroup")[0];
        var loginLink = document.getElementsByClassName("login")[0];
        var CreatePostLink = document.getElementsByClassName("create-post")[0];
        var ProfileLink = document.getElementsByClassName("profile-pic")[0];
        console.log("<Home Page> state: '@ViewBag.state'")
        if ('@ViewBag.state' === 'True') {
            navGroup.classList.add("isLogin");
            loginLink.style.display = "none";
            CreatePostLink.style.display = "flex";
            ProfileLink.style.display = "flex";
        }
        else {
            navGroup.classList.remove("isLogin");
            loginLink.style.display = "flex";
            CreatePostLink.style.display = "none";
            ProfileLink.style.display = "none";
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>