@{
    ViewData["Title"] = "Favourites";
    Layout = "_LayoutFav";
}
@model IEnumerable<RednitDev.Models.Post>
<link href="~/css/page/Fav.css" rel="stylesheet" />
<h1>My Favourites</h1>
<div class="posts-container">
    @foreach (var favpost in Model)
    {
        @await Component.InvokeAsync("FavPost", new { post = favpost })
    }
</div>