p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
textarea,
fieldset,
legend,
a {
    font-family: 'Montserrat';
}
b{
    font-weight:600;
}
input[type="text"] {
    height: 30px;
    width: 98%;
    background-color: #F4F4F4;
    border: none;
    border-radius: 5px;
    padding: 5px 1%;
    margin:5px 0px;
    font-size: 16px;
}

textarea {
    height: 150px;
    width: 98%;
    background-color: #F4F4F4;
    border: none;
    border-radius: 5px;
    padding: 10px 1%;
    font-size: 16px;
    margin:5px 0px;
}

.form-text-fieldset legend{
    margin:10px 0px;
    width:100%;
}

input[type="radio"]::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    margin: 0px;
    border-radius: 100%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

/* checked */
input[type="radio"]:checked::before {
    transform: scale(1);
    background-color: #434343;
}
/* unchecked */
input[type="radio"] {
    appearance: none;
    background-color: #ffffff;
    margin-right: 3px;
    width: 15px;
    height: 15px;
    border: 2px solid #434343;
    border-radius: 100%;
}
input#submit {
    color: #FFFFFF;
    background-color: #FD5564;
    font-weight: 500;
    font-size: 16px;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    padding:10px 15px;
}

legend {
    font-size: 15px;
    font-weight: 600;
    color: #434343;
    margin: 0px;
}

label{
    font-size: 15px;
    font-weight: 400;
    color: #434343;
    margin: 0px;
}

.form-option{
    display:flex;
    flex-direction:column;
}
fieldset {
    width:100%;
    margin:0px 0px 20px 0px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.options{
    display: flex;
    width:100%;
    margin: 5px 0px;
}
.date-type-fieldset .options{
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.options:not(.date-type-fieldset .options){
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.duration-fieldset{
    border-radius: 10px;
}

.view-box h1 {
    margin: 20px;
}

.form-container {
    min-height: min-content;
    width: 80vw;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.15)
}

.option {
    width:fit-content;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    margin: 5px 15px 5px 0px;
}


form {
    display: grid;
    grid-template: 1fr / 6fr 4fr;
    grid-gap: 40px;
}

.duration {
    width: 100%;
}

.date-select-card {
    width: 50%;
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 15px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
}
.to{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px 0px;
    padding: 0px 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.date-select-card label {
    margin-bottom: 10px;
}

.date-select-card input {
    margin-top: 5px;
    width: 90%;
    text-align:center;
    font-weight: 400;
    font-size:16px;
}


@media screen and (max-width: 1200px) {

    .options {
        flex-direction: column;
    }

    .date-select-card {
        width: 60%;
    }
    .to{
        width:60%;
    }

}

@media screen and (max-width: 800px) {
    form {
        grid-template: 1fr 1fr / 1fr;
    }

    .options {
        flex-direction: row;
    }
    .duration{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .date-select-card {
        width: 40%;
    }
    .to{
        width:2%;
        justify-content: center;
    }

}