h1{
    color: white;
    text-align: center;
    padding-bottom: 2%;
}
.posts-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* height: 45vh; */
    width: 100%;
    place-items: center;
}
@media screen and (max-width: 940px) {
    .posts-container {
        display: flex;
        flex-direction: column;
        height: 85%;
        align-items: center;
    }
}