* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}


a {
    text-decoration: none;
}

.container {
    width: 88%;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    margin-bottom: 3%;
}

.block-container {
    background: #ffffff;
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

#content {
    grid-template: 10% 30% 30% 30%/ 100%;
    padding: 4%;
}

.profile {
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

.content-profile {
    display: grid;
    grid-template-rows: 35% 45% 20%;
}

.caption {
    align-self: first baseline;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #696969;
}

.username {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FD5564;
}

.img-container {
    height: 180px;
    width: 180px;
}

.img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.stat {
    display: grid;
    grid-template-columns: auto auto;
}

.rigth-stat {
    position: relative;
}

.rigth-stat a {
    position: absolute;
    bottom: 5%;
    right: 0;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #AAAAAA;
    border-radius: 5px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.num-create-group, #joining-group-number{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.num-create-group .text, #joining-group-number .text  {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1E1E1E;
}

.num-create-group p, #joining-group-number p {


    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #1E1E1E;


}



#posts-row {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.post-container {
    width: 70%;
}

#your-posts p,
.Groups-joined p,
.request-status p {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1e1e1e;
    margin-bottom: 3%;
}

.post-container {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.top-section {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

.bottom-section {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.header p {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1e1e1e;
}

.day-container {
    height: 5vh;
}

.day-container svg {
    margin-top: 1%;
}

.ramaining-day {

    font-family: "Kanit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #aaaaaa;
}

.tag-section {
    display: flex;
    gap: 3%;
}

.tag {
    text-align: center;
    padding: 4px 15px;
    background: #C4C4C4;
    border-radius: 16.5px;

    width: fit-content;
    height: 24px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.bar-line {
    border: 1px solid #D9D9D9;
    margin: 3% 0;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.post-container .bar-line {
    border: 1px solid #D9D9D9;
    margin: 5% 0;
    margin-left: 5%;
    margin-right: 5%;
}

.place img,
.calendar img,
.group img {
    margin-right: 3%;
}

.place span,
.calendar span,
.group div {


    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #696969;


}

.group {
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
}



.edit-button {
    position: absolute;
    right: 0px;
    bottom: 20%;
    padding: 5px 10px;
    background: #FD5564;
    border-radius: 5px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: 0;

}

/*Labtop*/
@media screen and (max-width: 1024px) {

    /*nav bar*/
    .navGroup {
        grid-template-columns: 60% 40%;
        ;
    }
    /*body*/
    .profile {
        display: grid;
        grid-template-columns: 25% 40% 35%;
    }
    .img-container {
        height: 150px;
        width: 150px;
    }

    /*footer*/
    .content {
        position: relative;
        top: 30%;
        width: 80%;
        display: grid;
        grid-template: 100%/ 40% 30% 30%;
        margin: 0 auto;
    }

    .follow,
    .contact {
        margin-top: 20%;
    }

    .block {
        z-index: -2;
        position: relative;
        top: -4%;
        height: 12vh;
        background-color: #FFFFFF;
    }

    .bg {
        z-index: -1;
        position: relative;
        top: 80%;
    }
}

/*Tablet*/
@media screen and (max-width: 768px) {

    /*nav bar*/
    .navGroup {
        grid-template-columns: 58% 42%;
    }
    /*body*/
    #posts-row {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .img-container {
        height: 100px;
        width: 100px;
    }
    .content-profile {
        display: grid;
        grid-template-rows: 40% 30% 30%;
    }
    .username{
        position: relative;
        top: -30%;
    }

    /*footer*/
    .content {
        position: relative;
        top: 70%;
        width: 70%;
        display: grid;
        grid-template: 50% 50%/ 56% 44%;
        margin: 0 auto;
    }
    .logo img, .leftSide img{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 4%;
    }
    .logo h1 {
        text-align: center;
        color: #FD5564;
        font-size: 32px;
        font-weight: 900;
    }
    .follow,
    .contact {
        margin-top: 0%;
    }

    .follow {
        grid-area: 2 / 1 /3 / 2;
        margin-left: 2%;
    }
    .contact{
        grid-area: 2 / 2 / 3 / 3;
    }
    .contact>p
    {
        margin-bottom: 7%;
    }
    .phone
    {
        margin-bottom: 6%;
    }
    footer{
        width: 100%;
        padding:5vh 0vw; 
        height: 45vh;
    }
    .block {
        z-index: -2;
        position: relative;
        top: -4%;
        height: 29vh;
        background-color: #FFFFFF;
    }
    .bg {
        z-index: -1;
        position: relative;
        top: 53%;
    }
}

/*Smart Phone*/
@media screen and (max-width: 430px){
    /*nav bar*/
    .navGroup {
        grid-template-columns: 63% 37%;
        width: 67%;
    }
    .rightSide .discovery
    {
        display: none;
    }
    /*body*/
    .post-container{
        width: 100%;
    }
    #posts-row {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }
    
    .img-container {
        height: 100px;
        width: 100px;
    }
    .content-profile {
        display: grid;
        grid-template-rows: 40% 30% 30%;
    }
    .username{
        position: relative;
        top: -30%;
    }
    /*footer*/
    .content {
        position: relative;
        top: 40%;
        width: 70%;
        display: grid;
        grid-template: 40% 30% 30%/ 100%;
        margin: 0 auto;
    }
    .logo img, .leftSide img{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 4%;
    }
    .logo h1 {
        text-align: center;
        color: #FD5564;
        font-size: 32px;
        font-weight: 900;
    }
    .follow,
    .contact {
        margin-top: 0%;
    }

    .follow {
        grid-area: 2 / 1 / 3 / 2;
        margin-left: 2%;
    }
    .contact{
        grid-area: 3 / 1 / 4 / 2;
        margin-left: 2%;
        margin-top: 10%;
    }
    .contact>p
    {
        margin-bottom: 7%;
    }
    .phone
    {
        margin-bottom: 6%;
    }
    footer{
        width: 100%;
        padding:5vh 0vw; 
        height: 45vh;
    }
    .block {
        z-index: -2;
        position: relative;
        top: -21%;
        height: 48vh;
        background-color: #FFFFFF;
    }
    .bg {
        z-index: -1;
        position: relative;
        top: 35%;
    }

    .bg img
    {
        width: 140%;
        overflow-x: hidden;
    }
    
}