::-webkit-scrollbar {
    display: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0px;
    position: relative;
    min-height: 100%;
    background-image: url('/background/bgHomeColor.png');
    background-size: cover;
}

button:hover {
    cursor: pointer;
}

.bg-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    position: absolute;
    width: 100vw;
    height: 86%;
    bottom: 25vh;
    left: 0;
    z-index: -30;
}

.bg-container .background {
    background-color: #FFFFFF;
    width: 100%;
    height: 72%;
}

.bg-container .wave-container {
    position: relative;
    height: 270px;
    width: 100%;
}

.big-container {
    display: grid;
    grid-template: 22vh 1fr 25vh / 10vw 80vw 10vw;
    min-height: 100vh;
    padding: 0px 0px;
    margin: 0px;
    z-index: -20;
}

/* height of each section */
nav {
    grid-area: 1 / 2 / 1 / 2;
    padding: 8vh 0vw;
    width: 100%;
    height: 50px;
    z-index: 5;
}

.context {
    grid-area: 2 / 2 / 2 / 2;
    min-height: 75vh;
    padding: 0vh 0vw 5vh 0vw;
    z-index: 0;
}

main {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}


footer {
    grid-area: 3 / 2 / 3 / 2;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

/* header detail */
.navGroup {
    display: grid;
    grid-template-columns: 79% 21%;
    width: 100%;
    margin: 0 auto;
}

.navGroup.isLogin {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
    margin: 0 auto;
}

.leftSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.leftSide a h1 {
    text-align: center;
    color: #ffff;
    font-size: 32px;
    font-weight: 900;
    margin: 0px;
}

.leftSide img {
    margin: 0% 1.3%;
}

.rightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.discovery {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffff !important;
}

.create-post {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffff !important;
}

.login {
    text-align: center;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 10px;

    font-size: 20px;
    font-weight: bold;
    color: #FD5564 !important;
}

.dropdown-hover-area {
    display: none;
    padding: 30px;
    position: absolute;
    right: calc(10vw - 4vw - 30px);
    top: 10vh;

}

.dropdown-box {
    width: 8vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    font-weight: 500;
    z-index: 10;
}

.dropdown-item:hover {
    color: #1E1E1E;
}

.dropdown-hover-area:hover {
    display: flex;
}

.profile-pic:hover+.dropdown-hover-area {
    display: flex;
    z-index: 50;
}

.dropdown-item {
    color: #696969;
}

.dropdown-item p {
    color: #1E1E1E;/* header detail */
.navGroup {
    display: grid;
    grid-template-columns: 79% 21%;
    width: 100%;
    margin: 0 auto;
}

.navGroup.isLogin {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
    margin: 0 auto;
}

.leftSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.leftSide a h1 {
    text-align: center;
    color: #ffff;
    font-size: 32px;
    font-weight: 900;
    margin: 0px;
}

.leftSide img {
    margin: 0% 1.3%;
}

.rightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.discovery {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffff !important;
}

.create-post {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffff !important;
}

.login {
    text-align: center;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 10px;

    font-size: 20px;
    font-weight: bold;
    color: #FD5564 !important;
}

.dropdown-hover-area {
    display: none;
    padding: 30px;
    position: absolute;
    right: calc(10vw - 4vw - 30px);
    top: 10vh;

}

.dropdown-box {
    width: 8vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    font-weight: 500;
    z-index: 10;
}

.dropdown-item:hover {
    color: #1E1E1E;
}

.dropdown-hover-area:hover {
    display: flex;
}

.profile-pic:hover+.dropdown-hover-area {
    display: flex;
    z-index: 50;
}

.dropdown-item {
    color: #696969;
}

.dropdown-item p {
    color: #1E1E1E;
    font-weight: 700;
    margin: 3px 0px;
    padding: 15px 0px 0px 0px;
    border-top: 1px solid #696969;
}
    font-weight: 700;
    margin: 3px 0px;
    padding: 15px 0px 0px 0px;
    border-top: 1px solid #696969;
}

/* footer detail */
.footer-container {
    width: 100%;
    height: 55%;
    margin: auto;
    display: grid;
    grid-template: 100%/ 40% 30% 30%;
    align-items: start;
}

.footer .follow {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
}

.footer .contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    padding-top: 10px;
}

.element-container {
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.element {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logos-container {
    margin-top: 20px;
    display: flex;
    max-width: 130px;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

/* grid-template: 1fr/1fr 1fr 1fr 1fr; */

.footer h1,
.footer h2,
.footer p {
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.footer h2 {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.footer p {
    margin: 0px;
    font-weight: 600px;
    color: #FFFFFF;
}

.footer img {
    margin-right: 5px;
    /* filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 0.25)); */
}

@media screen and (max-width: 1240px) {
    .navGroup {
        grid-template-columns: 68% 32%;
    }

    .navGroup.isLogin {
        grid-template-columns: 55% 45%;
    }

    .dropdown-hover-area {
        right: calc(10vw - 5vw - 30px);
    }

    .dropdown-box {
        width: 10vw;
    }
}

@media screen and (max-width: 800px) {
    .navGroup {
        grid-template-columns: 60% 40%;
    }

    .navGroup.isLogin {
        grid-template-columns: 45% 55%;
    }

    .dropdown-hover-area {
        padding: 15px;
        right: calc(10vw - 7vw - 15px);
        top: 10vh;
    }

    .dropdown-box {
        width: 14vw;
    }
}

@media screen and (max-width: 768px) {
    .navGroup {
        grid-template-columns: 58% 42%;
    }

    .leftSide img {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 4%;
    }
}

@media screen and (max-width: 670px) {

    .bg-container {
        height: 93%;
    }

    .big-container {
        grid-template: 10vh 1fr 25vh / 4vw 92vw 4vw;
    }

    .footer-container {
        width: 95%;
        height: 50%;
        margin: auto;
        display: grid;
        align-items: start;
        grid-template: 100%/ 40% 60%;
    }

    .footer .follow {
        height: 100%;
        align-items: start;
    }

    .footer .contact {
        height: 100%;
        align-items: start;
        overflow: hidden;
    }

    .footer .follow .h2 {
        text-align: center;
    }

    .footer .contact .h2 {
        text-align: center;
    }

    .footer-logos-container {
        display: grid;
        max-height: 150px;
    }


    .contact .element {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin: 2px 0px;
    }

    .footer h2 {
        font-size: 16px;

    }

    .footer p {
        font-size: 14px;
    }

    .footer .logo {
        display: none;
    }

    .dropdown-hover-area {
        right: calc(4vw - 15px);
    }

    .dropdown-box {
        width: 16vw;
    }
}

@media screen and (max-width: 540px) {
    .navGroup {
        grid-template-columns: 72% 28%;
    }

    .navGroup.isLogin {
        grid-template-columns: 60% 40%;
    }
    
    #discovery {
        display: none;
    }

    .dropdown-hover-area {
        padding: 25px 15px;
        right: calc(4vw - 15px);
    }

    .dropdown-box {
        width: 24vw;
    }
}

@media screen and (max-width: 430px) {

    .navGroup {
        grid-template-columns: 70% 30%;
    }

    .navGroup.isLogin {
        grid-template-columns: 50% 50%;
    }

    .leftSide img {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 4%;
    }
}

















.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.wave.wave1 {
    animation: animate 40s linear infinite;
    z-index: -10;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
    background-image: url("/background/wave1mirror.png");
}

.wave.wave2 {
    animation: animate2 34s linear infinite;
    z-index: -10;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
    background-image: url("/background/wave2mirror.png");
}

.wave.wave3 {
    animation: animate 32s linear infinite;
    z-index: -10;
    opacity: 1;
    animation-delay: -2s;
    bottom: 0px;
    background-image: url("/background/wave3mirror.png");
}

@keyframes animate {
    0% {
        background-position-x: 0px;
        background-position-y: 0px;
    }

    100% {
        background-position-x: 1000px;
        background-position-y: 0px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 1000px;
        background-position-y: 0px;
    }

    100% {
        background-position-x: 0px;
        background-position-y: 0px;
    }
}