@{
    Layout = "_LoginLayout";
}

<div class="container" style="width:100%; min-height:100%;">
    <div class="view-box" style="width:100%; display:flex; flex-direction:column; align-items:center">
        <h1 style="font-size:40px; font-weight:bold; text-align:center; color:#FFFFFF;">Create new post</h1>
        <div class="form-container">
            <form method="post" asp-controller="Discover" asp-action="CreatePost">
                <div class="form-text" style="display:flex; flex-direction:column;">
                    <fieldset class="form-text-fieldset">
                        <legend for="header">Header
                            <input type="text" name="header" placeholder="Header" required>
                        </legend>
                        <legend for="tag">Tag
                            <input type="text" name="tag" placeholder="Tag" required>
                        </legend>
                        <legend for="title">Title
                            <input type="text" name="title" placeholder="Title" required>
                        </legend>
                        <legend for="detail">Detail
                            <textarea type="text" name="detail" placeholder="Detail" required></textarea>
                        </legend>
                        <legend for="place">Place
                            <input type="text" name="place" placeholder="Place" required>
                        </legend>
                    </fieldset>
                </div>
                <div class="form-option">
                    <fieldset class="date-type-fieldset">
                        <legend for="date-type">Event Date</legend>
                        <div class="options">
                            <label class="option" htmlFor="one">
                                <input type="radio" name="date-type" value="one">
                                <span class="checkmark"></span>
                                One day event
                            </label>
                            <label class="option" htmlFor="one">
                                <input type="radio" name="date-type" value="multiple">
                                <span class="checkmark"></span>
                                Multi-day event
                            </label>
                        </div>
                    </fieldset>
                    <fieldset class="duration-fieldset">
                        <div class="duration">
                            <div class="date-select-card">
                                <div>
                                    <label for="start-day">Day</label>
                                    <input type="text" name="start-day" placeholder="DD" required><br>
                                </div>
                                <div>
                                    <label for="start-month">Month</label>
                                    <input type="text" name="start-month" placeholder="MM" required><br>
                                </div>
                                <div>
                                    <label for="start-day">Year</label>
                                    <input type="text" name="start-day" placeholder="YYYY" required><br>
                                </div>
                            </div>
                            <div class="to"> - </div>
                            <div class="date-select-card">
                                <div>
                                    <label for="start-day">Day</label>
                                    <input type="text" name="start-day" placeholder="DD" required><br>
                                </div>
                                <div>
                                    <label for="start-month">Month</label>
                                    <input type="text" name="start-month" placeholder="MM" required><br>
                                </div>
                                <div>
                                    <label for="start-day">Year</label>
                                    <input type="text" name="start-day" placeholder="YYYY" required><br>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="close-date-fieldset">
                        <legend for="close-date">Submission closing date</legend>
                        <div class="close-date">
                            <div class="date-select-card">
                                <div>
                                    <label for="start-day">Day</label>
                                    <input type="text" name="start-day" placeholder="DD" required><br>
                                </div>
                                <div>
                                    <label for="start-month">Month</label>
                                    <input type="text" name="start-month" placeholder="MM" required><br>
                                </div>
                                <div>
                                    <label for="start-day">Year</label>
                                    <input type="text" name="start-day" placeholder="YYYY" required><br>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="post-type-fieldset">
                        <legend for="post-type">Post type</legend>
                        <div class="options">
                            <div class="option">
                                <input type="radio" name="post-type" value="one">
                                <label htmlFor="one"><b>Open</b> — Everyone can join this group</label>
                            </div>
                            <div class="option">
                                <input type="radio" name="post-type" value="multiple">
                                <label htmlFor="multiple"><b>Request</b> — Others can join when you accept</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="visibility-fieldset">
                        <legend for="visibility">Visibility & access</legend>
                        <div class="options">
                            <div class="option">
                                <input type="radio" name="visibility" value="one">
                                <label htmlFor="one"><b>Draft</b> — Only you can edit this post</label>
                            </div>
                            <div class="option">
                                <input type="radio" name="visibility" value="multiple">
                                <label htmlFor="multiple"><b>Public</b> — Anyone can view this post</label>
                            </div>
                        </div>
                    </fieldset>
                    <input type="submit" id="submit" placeholder="Post">
                </div>
            </form>
        </div>
    </div>
</div>

@* if (ViewContext.HttpContext.Request.Method == "POST"){<div>new post posted</div>} *@