@{
    ViewData["Title"] = "Discover";
    Layout = "_LayoutDiscover";
}
@model IEnumerable<RednitDev.Models.Post>
@{
    Layout = "_LayoutDiscover";
}
<div class="discover-container">
    <h1 class="feed-header">Let’s join new groups!</h1>
    @await Component.InvokeAsync("FeedNavBar")
    <div class="feed-container">
        <div class="feed-area" id="feed-area">
            @foreach (var post in Model)
            {
                @await Component.InvokeAsync("Post", new { post = post })
            }
        </div>
        <div class="search-area">
            @await Component.InvokeAsync("HotSearch")
        </div>
    </div>
    @if (ViewBag.HasMorePost)
    {
        <button class="show-more-post-button" onclick="onShowMorePostButtonClick()" id="show-more-button">
            Show more
        </button>
    }
</div>

<script>
    function onShowMorePostButtonClick(){
        const xhr = new XMLHttpRequest();
        xhr.open("GET", "/Discover/GetMorePosts");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onload = function() {
            if (xhr.status === 200) { // Check for successful response
                var data = JSON.parse(xhr.responseText); // Parse JSON response
                console.log("received " + data);
                if(data[data.length - 1] == "a"){
                    document.getElementById("show-more-button").style.display = "none";
                    data = data.substring(0, data.length - 1);
                }
                
                // Append the fetched posts to the postContainer
                document.getElementById("feed-area").innerHTML += data;
            } 
            else {
                console.error('Error:', xhr.status, xhr.statusText);
            }

            xhr.onerror = function(error) {
                console.error('Error:', error);
            };
        }
        xhr.send();
    }
</script>