@{
    ViewData["Title"] = "Discover";
    Layout = "_LayoutDiscover";
}
@model IEnumerable<RednitDev.Models.Post>
<div>
    @foreach (var post in Model)
    {
        @await Component.InvokeAsync("Post", new { post = post })
    }
</div>