@{
    ViewData["Title"] = "Discover";
    Layout = "_LayoutDiscover";
}
@model IEnumerable<RednitDev.Models.Post>
<div class="discover-container">
    <h1 class="feed-header">Let’s join new groups!</h1>
    @await Component.InvokeAsync("FeedNavBar")
    <div class="feed-container">
        <div class="feed-area">
            @foreach (var post in Model)
            {
                @await Component.InvokeAsync("Post", new { post = post })
            }
        </div>
        <div class="search-area">
            @await Component.InvokeAsync("HotSearch")
        </div>
    </div>
</div>