@{
    ViewData["Title"] = "Log in";
    Layout = "_LoginLayout";
}
<link href="~/css/LoginIndex.css" rel="stylesheet" />
<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
@*
<div class="space">
    <div class="loginGroup">
        <h1>Welcome Back!</h1>
        <form>
            <input type="text" id="username" placeholder="Username" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Log in</button>
        </form>
        <div class="question">
            <p>Don’t have an account yet?</p>
            <a id="signup" asp-area="" asp-controller="Login" asp-action="Signup">Sign up</a>
        </div>
    </div>
</div>*@