<div class="hot-search-container" id="searchArea">
    <div class="hot-search-top-section">
        <svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M18.193 10.8613C17.6691 9.68919 16.9074 8.63719 15.9557 7.77108L15.1703 7.05486C15.1436 7.0312 15.1115 7.01442 15.0768 7.00598C15.0421 6.99753 15.0058 6.99769 14.9712 7.00643C14.9366 7.01517 14.9046 7.03222 14.8781 7.0561C14.8517 7.07998 14.8315 7.10995 14.8194 7.14338L14.4686 8.14394C14.25 8.77164 13.8479 9.41275 13.2784 10.0431C13.2406 10.0834 13.1974 10.0941 13.1677 10.0968C13.1381 10.0995 13.0922 10.0941 13.0517 10.0565C13.0139 10.0243 12.995 9.97606 12.9977 9.92778C13.0976 8.31293 12.6118 6.49154 11.5484 4.50919C10.6686 2.86216 9.44601 1.57726 7.91846 0.681315L6.80383 0.0294753C6.65809 -0.0563636 6.47187 0.0562999 6.47997 0.225295L6.53934 1.51288C6.57982 2.39273 6.47727 3.17064 6.23437 3.81712C5.93749 4.60845 5.51107 5.34344 4.9659 6.00333C4.58651 6.46194 4.1565 6.87674 3.68395 7.23995C2.54585 8.10951 1.62043 9.22372 0.976988 10.4991C0.335128 11.7857 0.000783104 13.2022 0 14.6382C0 15.9043 0.250994 17.1302 0.747584 18.2863C1.22708 19.3995 1.91905 20.4097 2.78522 21.2612C3.65966 22.1196 4.67443 22.7956 5.80525 23.265C6.97656 23.7532 8.21803 24 9.49999 24C10.7819 24 12.0234 23.7532 13.1947 23.2677C14.3228 22.801 15.3485 22.1204 16.2148 21.2639C17.0892 20.4055 17.7747 19.4023 18.2524 18.289C18.7482 17.136 19.0026 15.8948 19 14.6409C19 13.3318 18.7301 12.0603 18.193 10.8613Z"
                fill="url(#paint0_linear_122_4019)" />
            <defs>
                <linearGradient id="paint0_linear_122_4019" x1="4.31002" y1="12" x2="14.9594" y2="12"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF4D00" />
                    <stop offset="1" stop-color="#FE3C72" />
                </linearGradient>
            </defs>
        </svg>
        <span class="hot-search-header"> Hot Search </span>
        <svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M18.193 10.8613C17.6691 9.68919 16.9074 8.63719 15.9557 7.77108L15.1703 7.05486C15.1436 7.0312 15.1115 7.01442 15.0768 7.00598C15.0421 6.99753 15.0058 6.99769 14.9712 7.00643C14.9366 7.01517 14.9046 7.03222 14.8781 7.0561C14.8517 7.07998 14.8315 7.10995 14.8194 7.14338L14.4686 8.14394C14.25 8.77164 13.8479 9.41275 13.2784 10.0431C13.2406 10.0834 13.1974 10.0941 13.1677 10.0968C13.1381 10.0995 13.0922 10.0941 13.0517 10.0565C13.0139 10.0243 12.995 9.97606 12.9977 9.92778C13.0976 8.31293 12.6118 6.49154 11.5484 4.50919C10.6686 2.86216 9.44601 1.57726 7.91846 0.681315L6.80383 0.0294753C6.65809 -0.0563636 6.47187 0.0562999 6.47997 0.225295L6.53934 1.51288C6.57982 2.39273 6.47727 3.17064 6.23437 3.81712C5.93749 4.60845 5.51107 5.34344 4.9659 6.00333C4.58651 6.46194 4.1565 6.87674 3.68395 7.23995C2.54585 8.10951 1.62043 9.22372 0.976988 10.4991C0.335128 11.7857 0.000783104 13.2022 0 14.6382C0 15.9043 0.250994 17.1302 0.747584 18.2863C1.22708 19.3995 1.91905 20.4097 2.78522 21.2612C3.65966 22.1196 4.67443 22.7956 5.80525 23.265C6.97656 23.7532 8.21803 24 9.49999 24C10.7819 24 12.0234 23.7532 13.1947 23.2677C14.3228 22.801 15.3485 22.1204 16.2148 21.2639C17.0892 20.4055 17.7747 19.4023 18.2524 18.289C18.7482 17.136 19.0026 15.8948 19 14.6409C19 13.3318 18.7301 12.0603 18.193 10.8613Z"
                fill="url(#paint0_linear_122_4019)" />
            <defs>
                <linearGradient id="paint0_linear_122_4019" x1="4.31002" y1="12" x2="14.9594" y2="12"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF4D00" />
                    <stop offset="1" stop-color="#FE3C72" />
                </linearGradient>
            </defs>
        </svg>
    </div>
    <ol>
        @for (int i = 0; i < 5; i++)
        {
            <li>
                <div>
                    <span class="hot-search-keyword">@ViewBag.TopSearch[i].Keyword</span>
                    <span class="keyword-search-times">@ViewBag.TopSearch[i].Count</span>
                </div>
            </li>
        }
    </ol>
</div>