@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}
@model IEnumerable<RednitDev.Models.Post>

<div class="container" style="width:100%; margin:0px; padding:0px;">

    @* paragraph *@
    <section class="paragraph">
        <h1>Join, team up, endless fun awaits!</h1>
        <p>Looking to expand your group or try exciting
            activities with new friends? You've landed in the perfect spot!</p>
        <button onClick="toDiscover()">
            <p class="fontgradient">
                Get Started
            </p>
        </button>
    </section>

    @* cards *@
    <section class="cards">
        <div class="cards-container">
            <div class="activity-card">
                <img class="activity-pic" src="~/svg/finding.svg" alt="find_svg" />
                <div class="activity-info">
                    <h3>
                        Find
                    </h3>
                    <p>
                        Discover new activity companions and avoid going out alone or having solitary lunches.
                    </p>
                </div>
            </div>
            <div class="activity-card">
                <img class="activity-pic" src="~/svg/joined.svg" alt="join_svg" />
                <div class="activity-info">
                    <h3>
                        Join
                    </h3>
                    <p>
                        Discover new activity companions and avoid going out alone or having solitary lunches.
                    </p>
                </div>
            </div>
            <div class="activity-card">
                <img class="activity-pic" src="~/svg/explore.svg" alt="explore_svg" />
                <div class="activity-info">
                    <h3>
                        Explore
                    </h3>
                    <p>
                        Discover new activity companions and avoid going out alone or having solitary lunches.
                    </p>
                </div>
            </div>
        </div>
    </section>

    @* statistics *@
    <section class="statistics">
        <div class="stat-container">
            <div class="stat-card">
                <h2>
                    5000
                </h2>
                <p>
                    Members
                </p>
            </div>
            <div class="stat-card">
                <h2>
                    1500
                </h2>
                <p>
                    Groups Processed
                </p>
            </div>
            <div class="stat-card">
                <h2>
                    1000
                </h2>
                <p>
                    Groups Accomplished
                </p>
            </div>
        </div>

    </section>

    @* hot post *@
    <section class="hotpost">
        <div class="hotpost-heading">
            <img src="~/svg/fire.svg" alt="fire_svg" height="100%"/>
            <h1>Hot post</h1>
            <img src="~/svg/fire.svg" alt="fire_svg" height="100%"/>
        </div>

        @* posts container *@
        <div class="posts-container">
                @foreach (var post in Model)
                {
                    @await Component.InvokeAsync("HotPost", new { post = post })
                }
        </div>
    </section>

</div>
