/* _content/RednitDev/Views/Discover/Index.cshtml.rz.scp.css */
/* _content/RednitDev/Views/Home/Index.cshtml.rz.scp.css */
section.paragraph[b-mby8s60e8w] {
    width: 60%;
    padding: 0px 0vw 5vh 0vw;
}

section.cards[b-mby8s60e8w] {
    padding: 10% 0vw;
}

section.statistics[b-mby8s60e8w] {
    margin: 0% -10vw;
    padding: 5px 10%;
    background: linear-gradient(to right, #FF4D00, #FE3C72);
}

section.hotpost[b-mby8s60e8w] {
    margin: 5vh 0px
}

section.paragraph>h1[b-mby8s60e8w] {
    font-size: 55px;
    color: #FFFFFF;
    margin: 30px 0px;
    text-align: left;
}

section.paragraph>p[b-mby8s60e8w] {
    font-size: 20px;
    color: #FFFFFF;
    margin: 30px 0px;
    text-align: left;
}

section.paragraph button[b-mby8s60e8w] {
    position: relative;
    z-index: 10;
    font-size: 24px;
    background-color: #FFFFFF;
    color: #FE3C72;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 20px 0px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, .2);
}

.fontgradient[b-mby8s60e8w] {
    margin: 0px;
    background: linear-gradient(45deg, #FE3C72, #FF4D00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards-container[b-mby8s60e8w] {
    margin: 0px;
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    grid-gap: 3%;
}

.activity-card[b-mby8s60e8w] {
    height: 100%;
    padding: 15% 20%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, .2);
    display: grid;
    grid-template: 1fr 2fr / 1fr;
}

.activity-card h3[b-mby8s60e8w],
p[b-mby8s60e8w] {
    margin-top: 5%;
    text-align: center;
}

.stat-container[b-mby8s60e8w] {
    margin: 20px 5vw;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.stat-card h2[b-mby8s60e8w] {
    margin: 0px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
}
.stat-card p[b-mby8s60e8w] {
    margin: 0px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}

.hotpost .heading[b-mby8s60e8w] {
    margin: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hotpost .heading h1[b-mby8s60e8w] {
    text-align: center;
    color: #FF4D00;
    font-size: 36px;
    font-weight: bold;
}

.posts-container[b-mby8s60e8w] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    height: 30vh;
    width: 100%;
}

.post-card[b-mby8s60e8w] {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .1);
    padding: 15px;
    margin: 30px;
}

@media screen and (max-width: 425px) {
    section.paragraph[b-mby8s60e8w] {
        width: 100%;
    }

    section.paragraph>h1[b-mby8s60e8w] {
        font-size: 36px;
        margin: 15px 0px;
    }

    section.paragraph>p[b-mby8s60e8w] {
        font-size: 16px;
        margin: 15px 0px;
    }

    section.paragraph button[b-mby8s60e8w] {
        margin: 5px 0px;
    }

    .fontgradient[b-mby8s60e8w] {
        font-size: 20px;
    }

    section.cards[b-mby8s60e8w] {}

    .cards-container[b-mby8s60e8w] {
        grid-template: 1fr 1fr 1fr/1fr;
    }

    .activity-card[b-mby8s60e8w] {
        height: 100%;
        display: grid;
        grid-template: 1fr / 1fr 2fr;
        padding: 10px;
    }

    .activity-info[b-mby8s60e8w] {}

    section.statistics[b-mby8s60e8w]{
        margin: 5vh -3vw 0px -3vw;
    }

    .stat-container[b-mby8s60e8w] {
        padding-top: 2%;
        justify-items: center;
        margin: 10px 0px;
    }

    .stat-card h2[b-mby8s60e8w]{
        font-size: 20px;
    }
    .stat-card p[b-mby8s60e8w]{
        font-size: 14px;
    }
}
/* _content/RednitDev/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-utsn0o6frq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-utsn0o6frq] {
  color: #0077cc;
}

.btn-primary[b-utsn0o6frq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-utsn0o6frq], .nav-pills .show > .nav-link[b-utsn0o6frq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-utsn0o6frq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-utsn0o6frq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-utsn0o6frq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-utsn0o6frq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-utsn0o6frq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/RednitDev/Views/Shared/_LayoutDiscover.cshtml.rz.scp.css */
/* this body is disabled cause of some structure reason */
body[b-zih5pf5z6a] {
    margin: 0px;
    position: relative;
    min-height: 100%;
    background-image: url('/background/homebgc.png');
    background-size: cover;
}

.bg-container[b-zih5pf5z6a] {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    position: absolute;
    width: 100vw;
    height: 86%;
    bottom: 15vh;
    left: 0;
}

.bg-container .background[b-zih5pf5z6a] {
    z-index: -1;
    background-color: #FFFFFF;
    width: 100%;
    height: 62%;
}

.bg-container .wave-container[b-zih5pf5z6a] {
    position: relative;
    z-index: -1;
    height: 270px;
    width: 100%;
}

.big-container[b-zih5pf5z6a] {
    display: grid;
    grid-template: 10vh 75vh 15vh / 10vw 80vw 10vw;
    min-height: 100vh;
    padding: 0px 0px;
}

/* this body is disabled cause of some structure reason */
.big-container header[b-zih5pf5z6a] {
    display: flex;
    flex-direction: row;
    padding: 10vh 0vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center"

}

.logo[b-zih5pf5z6a] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h1[b-zih5pf5z6a] {
    padding: 0px 5px;
    margin: 0px;
    font-size: 28px;
    font-weight: bold;
    color: #F2F2F2;
}

.nav button#discover[b-zih5pf5z6a] {
    background-color: inherit;
    color: #F2F2F2;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
}

.nav button#login[b-zih5pf5z6a] {
    background-color: #F2F2F2;
    color: #FE3C72;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .15);
}

.footer-container[b-zih5pf5z6a] {
    width: 100%;
    margin: 20px 10px;
    display: grid;
    grid-template: 100%/ 40% 30% 30%;
}

.footer .follow[b-zih5pf5z6a] {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer .contact[b-zih5pf5z6a] {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
}

.element-container[b-zih5pf5z6a] {
    display: flex;
    flex-direction: column;
}

.element[b-zih5pf5z6a] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logos-container[b-zih5pf5z6a] {
    display: grid;
    max-width: 130px;
    grid-template: 1fr/1fr 1fr 1fr 1fr;
}

.footer h2[b-zih5pf5z6a] {
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;
}

.footer p[b-zih5pf5z6a] {
    margin: 0px;
    color: #FFFFFF;
}

@media screen and (max-width: 426px) {

    .big-container[b-zih5pf5z6a] {
        grid-template: 10vh 75vh 15vh / 2vw 96vw 2vw;
    }

    .logo h1[b-zih5pf5z6a] {
        font-size: 24px;
    }

    .nav button#discover[b-zih5pf5z6a] {
        font-size: 16px;
        padding: 0px 15px;

    }

    .nav button#login[b-zih5pf5z6a] {
        font-size: 16px;
        padding: 5px 12px;
    }


    .footer-container[b-zih5pf5z6a] {
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        margin: 0px;
        display: grid;
        align-items: start;
        grid-template: 100%/ 50% 50%;
    }

    .footer .follow[b-zih5pf5z6a] {
        height: 100%;
        align-items: start;
    }

    .footer .contact[b-zih5pf5z6a] {
        height: 100%;
        align-items: start;
    }

    .footer .follow .h2[b-zih5pf5z6a] {
        text-align: center;
    }

    .footer .contact .h2[b-zih5pf5z6a] {
        text-align: center;
    }

    .footer-logos-container[b-zih5pf5z6a] {
        display: grid;
        max-height: 150px;
    }

    .contact .element[b-zih5pf5z6a] {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin: 2px 0px;
    }

    .footer h2[b-zih5pf5z6a] {
        font-size: 16px;

    }

    .footer p[b-zih5pf5z6a] {
        font-size: 14px;
    }

    .footer .logo[b-zih5pf5z6a] {
        display: none;
    }
}

.wave[b-zih5pf5z6a] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.wave.wave1[b-zih5pf5z6a] {
    z-index: 5;
    opacity: 1;
    bottom: 0;
    background-image: url("/background/wave1mirror.png");
}

.wave.wave2[b-zih5pf5z6a] {
    z-index: 5;
    opacity: 1;
    bottom: 0;
    background-image: url("/background/wave2mirror.png");
}

.wave.wave3[b-zih5pf5z6a] {
    z-index: 5;
    opacity: 1;
    bottom: 0px;
    background-image: url("/background/wave3mirror.png");
}
/* _content/RednitDev/Views/Shared/_LayoutHome.cshtml.rz.scp.css */
/* this body is disabled cause of some structure reason */
body[b-suedg9s2v8] {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0px;
    position: relative;
    min-height: 100%;
    background-image: url('/background/feedbgc.png');
    background-size: cover;
}

.bg-container[b-suedg9s2v8] {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    position: absolute;
    width: 100vw;
    height: 86%;
    bottom: 15vh;
    left: 0;
}

.bg-container .background[b-suedg9s2v8] {
    z-index: -1;
    background-color: #FFFFFF;
    width: 100%;
    height: 72%;
}

.bg-container .wave-container[b-suedg9s2v8] {
    position: relative;
    z-index: -1;
    height: 270px;
    width: 100%;
}

.big-container[b-suedg9s2v8] {
    margin: 0vh 10vw;
    padding: 0px 0px;
}

/* this body is disabled cause of some structure reason */
header[b-suedg9s2v8] {
    display: flex;
    flex-direction: row;
    padding: 5vh 0vw 10vh 0vw;
    height: 10vh;
    max-height: 50px;
    justify-content: space-between;
    align-items: center"

}

main[b-suedg9s2v8] {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

footer[b-suedg9s2v8] {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
}

.logo[b-suedg9s2v8] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h1[b-suedg9s2v8] {
    padding: 0px 5px;
    margin: 0px;
    font-size: 36px;
    font-weight: bold;
    color: #F2F2F2;
}

.nav button#discover[b-suedg9s2v8] {
    background-color: inherit;
    color: #F2F2F2;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
}

.nav button#login[b-suedg9s2v8] {
    background-color: #F2F2F2;
    color: #FE3C72;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .15);
}

.footer-container[b-suedg9s2v8] {
    width: 100%;
    display: grid;
    grid-template: 100%/ 40% 30% 30%;
}

.footer .follow[b-suedg9s2v8] {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer .contact[b-suedg9s2v8] {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
}

.element-container[b-suedg9s2v8] {
    display: flex;
    flex-direction: column;
}

.element[b-suedg9s2v8] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logos-container[b-suedg9s2v8] {
    display: grid;
    max-width: 130px;
    grid-template: 1fr/1fr 1fr 1fr 1fr;
}

.footer h2[b-suedg9s2v8] {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.footer p[b-suedg9s2v8] {
    margin: 0px;
    color: #FFFFFF;
}

@media screen and (max-width: 426px) {

    .big-container[b-suedg9s2v8] {
        margin: 0vh 3vw;
    }

    .logo h1[b-suedg9s2v8] {
        font-size: 24px;
    }

    .nav button#discover[b-suedg9s2v8] {
        font-size: 16px;
    }

    .nav button#login[b-suedg9s2v8] {
        font-size: 16px;
        padding: 5px 15px;
    }


    .footer-container[b-suedg9s2v8] {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        display: grid;
        align-items: start;
        grid-template: 100%/ 50% 50%;
    }

    .footer .follow[b-suedg9s2v8] {
        height: 100%;
        align-items: start;
    }

    .footer .contact[b-suedg9s2v8] {
        height: 100%;
        align-items: start;
    }

    .footer .follow .h2[b-suedg9s2v8] {
        text-align: center;
    }

    .footer .contact .h2[b-suedg9s2v8] {
        text-align: center;
    }

    .footer-logos-container[b-suedg9s2v8] {
        display: grid;
        max-width: 60px;
        max-height: 150px;
        grid-template: 1fr 1fr/1fr 1fr;
    }

    .contact .element[b-suedg9s2v8] {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin: 2px 0px;
    }

    .footer h2[b-suedg9s2v8] {
        font-size: 16px;
    }

    .footer p[b-suedg9s2v8] {
        font-size: 14px;
    }

    .footer .logo[b-suedg9s2v8] {
        display: none;
    }
}


















.wave[b-suedg9s2v8] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.wave.wave1[b-suedg9s2v8] {
    animation: animate-b-suedg9s2v8 40s linear infinite;
    z-index: 5;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
    background-image: url("/background/wave1mirror.png");
}

.wave.wave2[b-suedg9s2v8] {
    animation: animate2-b-suedg9s2v8 34s linear infinite;
    z-index: 5;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
    background-image: url("/background/wave2mirror.png");
}

.wave.wave3[b-suedg9s2v8] {
    animation: animate-b-suedg9s2v8 32s linear infinite;
    z-index: 5;
    opacity: 1;
    animation-delay: -2s;
    bottom: 0px;
    background-image: url("/background/wave3mirror.png");
}

@keyframes animate-b-suedg9s2v8 {
    0% {
        background-position-x: 0px;
        background-position-y: 0px;
    }

    100% {
        background-position-x: 1000px;
        background-position-y: 0px;
    }
}

@keyframes animate2-b-suedg9s2v8 {
    0% {
        background-position-x: 1000px;
        background-position-y: 0px;
    }

    100% {
        background-position-x: 0px;
        background-position-y: 0px;
    }
}
